<div ng-controller="CarouselCtrl" class="IG_Carousel">
	<carousel3d
			ng-model="slides2"
			options="options2"
			on-selected-click="selectedClick(index)"
			on-slide-change="slideChanged(index)"
			on-last-slide="lastSlide(index)"
			on-before-change="beforeChange(index)">

		<carousel3d-slide ng-repeat="slide in slides2 track by $index" ng-style="{'background-image':'url('+slide.Image+')'}">
			<div class="carouselMessage">
				<h4><div ng-bind="slide.title" class="text"></div></h4>
				<div ng-bind="slide.shortDesc" class="text"></div>
			</div>
			<div class="carouselLink">
				<i ng-show="slide.isTutorial" class="glyphicon glyphicon-file" style="cursor: pointer;" ng-click="setRedirect('Course/'+slide.Id+'/file')"></i>&nbsp;&nbsp;
				<i ng-show="slide.isVideo" class="glyphicon glyphicon-film" style="cursor: pointer;" ng-click="setRedirect('Course/'+slide.Id+'/video')"></i>&nbsp;&nbsp;
				<i ng-show="slide.idForum" class="glyphicon glyphicon-share" style="cursor: pointer;" ng-click="setRedirect('Course/'+slide.Id+'/articles')"></i>
			</div>
		</carousel3d-slide>

    </carousel3d>
</div>