<!--
Authorization callback URL
https://github.com/login?return_to=/login/oauth/authorize?client_id=c12107d68435ea781882redirect_uri=http://127.0.0.1:54174/dist/index.html#/WelcomeIG
-->

<div ng-controller="ChatRoomCtrl" style="height: 100%;">
    <h2 style="text-align: center;">Get Expert Help in next Minutes</h2>
    
    <div id="ChatRoom">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 chatBoxCard" ng-repeat="(index, CRList) in ChatRoomList">
            <img src={{CRList.imageUrl}}/>
            <div style="padding-top: 15px;">
                <h4>{{CRList.header}}</h4>
                <p>{{CRList.content}}
                <a href="">Click Here</a>
                </p>
            </div>
        </div>
    </div>

</div>