<!--
Authorization callback URL
https://github.com/login?return_to=/login/oauth/authorize?client_id=c12107d68435ea781882redirect_uri=http://127.0.0.1:54174/dist/index.html#/WelcomeIG
-->

<div ng-controller="ChatRoomCtrl" style="height: 100%;">
    <h2 style="text-align: center;">Get Expert Help in next Minutes</h2>
    <div id="ChatRoom">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 chatBoxCard">
            <img src="contents/images/ChatRoom/circle-hangout-video.png"/>
            <div style="padding-top: 15px;">
                <h4>Talk across devices</h4>
                <p>Hangouts bring conversations to life with photos, emoji, and even group video calls for free. 
                <a href="">Click Here</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 chatBoxCard">
            <img src="contents/images/ChatRoom/circle-hangout-video.png"/>
            <div style="padding-top: 15px;">
                <h4>Talk across devices</h4>
                <p>Hangouts bring conversations to life with photos, emoji, and even group video calls for free.
                <a href="">Click Here</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 chatBoxCard">
            <img src="contents/images/ChatRoom/circle-hangout-video.png"/>
            <div style="padding-top: 15px;">
                <h4>Talk across devices</h4>
                <p>Hangouts bring conversations to life with photos, emoji, and even group video calls for free.
                <a href="">Click Here</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 chatBoxCard">
            <img src="contents/images/ChatRoom/circle-hangout-video.png"/>
            <div style="padding-top: 15px;">
                <h4>Talk across devices</h4>
                <p>Hangouts bring conversations to life with photos, emoji, and even group video calls for free.
                <a href="">Click Here</a>
                </p>
            </div>
        </div>
    </div>
<!--
    <div id="ChatBox">
        <iframe id="IGChat" style="border: 0; width: 100%; height: 100%;margin-top: -12px;" ng-src="{{currentChatURL}}">
    </iframe>
    </div>
-->
</div>