<style>
    .innerDiv{
        height: 50px;
        width: 50px;
        background-color: #9C8E8E;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        font-size: large;
        color: white;
        padding-top: 6px;
        padding-left: 7px;
        font-size: 26px;
    }
    .titleDiv{
        padding-left: 10px;
        justify-content: center;
    }
    .descriptionDiv{
        padding-left: 10px;
        justify-content: center;
    }
    .borderDiv{
        border-bottom: 1px solid grey;
        padding-top: 15px;
    }
</style>

<div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="borderDiv">
        <div style="display: flex;">
            <div><div class="innerDiv">BK</div></div>
            <div class="titleDiv">
                <h5>Brajesh Kumar</h5>
                <p style="margin-top: -10px;">25 Mar 2015</p>
            </div>
        </div>
        <div class="descriptionDiv">
                Moonraker is the third novel by the British author Ian Fleming to feature the Secret Service agent James Bond. It was published by Jonathan Cape on 5 April 1955 with a cover design conceived by Fleming. The only Bond novel set entirely in Britain, it features Drax, an ex-Nazi working for the Russians, who plans to build a rocket, arm it with a nuclear warhead, and fire it at London. Moonraker, like Fleming's previous novels, was well received by critics. It plays on fears common in the 1950s,
        </div>
    </div>
    <div class="borderDiv">
        <div style="display: flex;">
            <div><div class="innerDiv">AK</div></div>
            <div class="titleDiv">
                <h5>Ranjan Kumar</h5>
                <p style="margin-top: -10px;">25 Mar 2015</p>
            </div>
        </div>
        <div class="descriptionDiv">
                Moonraker is the third novel by the British author Ian Fleming to feature the Secret Service agent James Bond. It was published by Jonathan Cape on 5 April 1955 with a cover design conceived by Fleming. The only Bond novel set entirely in Britain, it features Drax, an ex-Nazi working for the Russians, who plans to build a rocket, arm it with a nuclear warhead, and fire it at London. Moonraker, like Fleming's previous novels, was well received by critics. It plays on fears common in the 1950s,
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

</div>
</div>