<div ng-controller="UserCtrl">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div layout="column" ng-cloak>
			<md-content layout-padding>
				<form name="projectForm">
					<md-input-container class="md-block">
						<label>Name</label>
						<input required md-no-asterisk name="UserName" ng-model="project.UserName">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Email ID</label>
						<input required name="UserEmail" ng-model="project.UserEmail">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Title</label>
						<input required name="Subject" ng-model="project.Title">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Description</label>
						<textarea md-maxlength="500" required name="Description" ng-model="project.Description" col="3" row="3"></textarea>
					</md-input-container>
                    <div class="IG_right">
                        <md-button class="md-primary" target="_blank">Reset</md-button>
                        <md-button class="md-raised md-primary">Submit</md-button>
                    </div>
				</form>
			</md-content>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>