<div ng-controller="ForumController" class="IG_OuterContentLayout">
	
    <md-subheader class="md-no-sticky IG-heading">Manage Forum</md-subheader>
      <md-divider></md-divider>
      <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<p>Instantly & securely store photos & videos taken from your phone to your computer or tablet.

Dead simple, 1-click photo sharing. Apply Instagram-like filters and effects too.Instantly & securely store photos & videos taken from your phone to your computer or tablet.

Dead simple, 1-click photo sharing. Apply Instagram-like filters and effects too.</p>
		</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 IG_right">
            <md-button class="md-primary" target="_blank">Edit</md-button>
            <md-button class="md-primary" target="_blank">Delete</md-button>
      </div>
      </md-list-item>
      
      <md-divider></md-divider>
      <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<p>Topics Titles</p>
		</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 IG_right">
            <md-button class="md-primary" target="_blank">Edit</md-button>
            <md-button class="md-primary" target="_blank">Delete</md-button>
      </div>
      </md-list-item>
    
      <md-divider></md-divider>
      <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<p>Topics Titles</p>
		</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 IG_right">
            <md-button class="md-primary" target="_blank">Edit</md-button>
            <md-button class="md-primary" target="_blank">Delete</md-button>
      </div>
      </md-list-item>
</div>