.loginOuter {
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: #ccc;
	background-attachment: fixed;
	background-position: top 47% right 75%;
	background-size: cover;
	background-image: url(../../contents/images/login-background.jpg);
}

.loginSection {
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	text-align: center;
}

.loginLayout {
	background: rgba(255,255,255,.85);
	box-shadow: 0 0 80px rgba(0,0,0,.8);
	float: right!important;
	height: 100%;
	min-width: 40%;
	min-height: 500px;
}



.nopadding {
	padding: 0!important;
	margin: 0!important;
}
.socialBtn {
	display: block;
	background-color: #0177b5;
	border-radius: 4px;
	white-space: nowrap;
	padding: 10px 10px 10px 30px;
	color: white;
	margin: 20px;
}

.signIN {
	color: white;
	padding-top: 5px;
	font-size: medium;
	cursor: pointer;
}




